<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uasbella">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Facewash"></activity>
        <activity android:name=".SocialMedia"
            android:label="Social Media"/>
        <activity android:name=".MyFavorite"
            android:label="My Favorite"/>
        <activity android:name=".MySkincare"
            android:label="My Skincare"/>
        <activity android:name=".MyProfile"
            android:label="My Profile"/>
        <activity android:name=".Detail" />
        <activity android:name=".Comment"
            android:label="Comment"/>
        <activity android:name=".AboutMe"
            android:label="About Me"/>
        <activity android:name=".JenisSkincare"
            android:label="Jenis Skincare">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Utama"/>
        </activity>
        <activity android:name=".SkinReview"
            android:label="Skin Review"/>
        <activity android:name=".SkinRoutine"
            android:label="Skin Routine"/>
        <activity android:name=".Utama"
            android:label="Halaman Utama"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>